@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next,
.swiper-button-next-adv {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 10 16' fill='none'%3E%3Cpath d='M1 15L8 8L1 1' stroke='%2316a34a' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat;
  background-position: center !important;
}
.swiper-button-prev,
.swiper-button-prev-adv {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L2 8L9 15' stroke='%2316a34a' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat;
  background-position: center !important;
}

.swiper-button-next::after,
.swiper-button-prev::after,
.swiper-button-next-adv::after,
.swiper-button-prev-adv::after {
  display: none !important;
}

/* Sembunyikan tombol di mobile (max 767px) */
@media (max-width: 767px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

/* Tampilkan tombol di tablet ke atas (min 768px) */
@media (min-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: flex !important;
  }
}

.swiper-pagination {
  @apply max-w-fit;
}
